<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
    </tr>
  </thead>
  <tbody>
  {{#people}}
    <tr>
      <td>{{first_name}}</td>
      <td>{{last_name}}</td>
    </tr>
  {{/people}}
  </tbody>
</table>
